<%- include('../_page_headers/admin_top.ejs') %>
<form action="/account/change_password" method="post">
  <div class="card">
    <div class="card-body">
      <div class="row my-10">
        <div class="col-sm-3 fw-bolder fs-4">Old Password</div>
        <div class="col-sm-9">
          <input class="form-control" name="old_password" id="old_pass" placeholder="Passowrd" type="password" />
        </div>
      </div>
      <div class="row my-10">
        <div class="col-sm-3 fw-bolder fs-4">New Password</div>
        <div class="col-sm-9">
          <input class="form-control" name="new_password" id="new_pass" placeholder="Passowrd" type="password" />
        </div>
      </div>
      <div class="row my-10">
        <div class="col-sm-3 fw-bolder fs-4">Confirm Password</div>
        <div class="col-sm-9">
          <input class="form-control" name="confirm_password" id="confirm_password" placeholder="Passowrd" type="password" />
        </div>
      </div>
      <button class="btn btn-primary btn-hover-scale">Change Password</button>
    </div>
  </div>
</form>
