<%- include('../_page_headers/admin_top.ejs') %>

<div class="row">
  <div class="col-lg-12 mt-10">
    <div class="card">
      <div class="card-header">
        <div class="col-sm-12 mt-10">
          <h1><b>Welcome</b></h1>
        </div>
        <div class="col-sm-12 mt-10 mb-5">
          <h2><span class="badge badge-secondary" id="date"></span></h2>
        </div>
      </div>

      <div class="card-body">
        <p><span class="message" id="message"></span></p>
      </div>
    </div>
    <br />
    <form method="post" action="/notifications_landing">
      <input type="hidden" name="" value="" />
      <button
        type="submit"
        class="btn btn-danger"
        id="kt_account_profile_details_submit"
      >
        Delete
      </button>
    </form>
  </div>
</div>
<%- include('../_page_headers/admin_bottom.ejs') %>
<script>
   const notifications = <%- locals.notifications  %>

  document.getElementById("date").innerHTML = notifications.date;
  document.getElementById("message").innerHTML = notifications.message;
</script>
<script>
  $(document).ready(function () {
    document.title = "Portal -  Paylink Clients";
    document.getElementById("breadcrumb_title").innerHTML =
      "Notifications Page";
    document.getElementById("breadcrumb_thread").innerHTML =
      "Home - Notifications";
  });
</script>
