<%- include('../_page_headers/admin_top.ejs') %>
<div></div>
<%- include('../_page_headers/admin_bottom.ejs') %>
<script>
  $(document).ready(function () {
    document.title = "default";
    document.getElementById("breadcrumb_title").innerHTML = "default";
    document.getElementById("breadcrumb_thread").innerHTML = "Home";
  });
</script>
