<%- include('../_page_headers/admin_top.ejs') %>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">All Clients</h1>
      <div class="card-toolbar"></div>
    </div>
    <div class="card-body">
      <table
        id="tblactive"
        class="table table-striped table-row-bordered gy-5 gs-7 border rounded"
      >
        <thead>
          <tr class="fw-bolder fs-6 text-gray-800 px-7">
            <th>Employer ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Access Level</th>

            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <script>
              const active = <%- locals.active  %>

            active.forEach((element) => {
              document.write(`
                <tr>
                  <td>${element.id}</td>
                  <td>${element.username}</td>
                  <td>${element.full_name}</td>
                  <td>${element.access_level}</td>

                  <td>
                    <a href="/user-management/profile/${element.id}" class="btn-sm"
                      ><li class="fa fa-eye"></li>
                      View</a
                    >

                  </td>
                </tr>
                `);
            });
          </script>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" onclick="exportData()">
        <i class="fa fa-download" aria-hidden="true"></i>CSV
      </button>
      <button class="btn btn-primary" onclick="Export()">
        <i class="fa fa-download" aria-hidden="true"></i>PDF
      </button>
    </div>
  </div>
</div>
<%- include('../_page_headers/admin_bottom.ejs') %>
<script>
  /* exporting to excel */
  function exportData() {
    var table = document.getElementById("tblactive");

    /* Declaring array */
    var rows = [];

    //iterate through rows of table
    for (var i = 0, row; (row = table.rows[i]); i++) {
      //rows would be accessed using the "row" variable assigned in the for loop
      //Get each cell value/column from the row
      id = row.cells[0].innerText;
      username = row.cells[1].innerText;
      fullname = row.cells[2].innerText;
      access_level = row.cells[3].innerText;

      /* add a new records in the array */
      rows.push([id, username, fullname, access_level]);
    }
    csvContent = "data:text/csv;charset=utf-8,";
    /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
    rows.forEach(function (rowArray) {
      row = rowArray.join(",");
      csvContent += row + "\r\n";
    });

    /* create a hidden <a> DOM node and set its download attribute */
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "active_accounts.csv");
    document.body.appendChild(link);
    /* download the data file named "members.csv" */
    link.click();
  }
</script>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"
></script>
<script type="text/javascript">
  function Export() {
    html2canvas(document.getElementById("tblmembers"), {
      onrendered: function (canvas) {
        var data = canvas.toDataURL();
        var docDefinition = {
          content: [
            {
              image: data,
              width: 500,
            },
          ],
        };
        pdfMake.createPdf(docDefinition).download("clients.pdf");
      },
    });
  }
</script>
<script>
  $(document).ready(function () {
    document.title = "Portal -  Paylink Clients";
    document.getElementById("breadcrumb_title").innerHTML = " Active Accounts ";
    document.getElementById("breadcrumb_thread").innerHTML =
      "Home -User Management";
  });
</script>
